extends layout

block content
    p Welcome to #{title}
    p Hér á að koma dagbók með userum og eh svoleiðis
    div.publicEntries
        if( !entries || entries.length == 0 )
            p Engar færslur
        else        
            for entry in entries
                div.entry
                    h3 #{entry.title}
                    h4 #{entry.date}
                    span!= marked( #{entry.text} )   